server:
  port: 8765

spring:
  application:
    name: spring-provider

  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.1.162:3306/1809a?useUnicode=true&characterEncoding=utf-8
    username: root
    password: root
    thymeleaf:
      encoding: UTF-8
      servlet:
        content-type: text/html
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password:
    timeout: 500
mybatis:
  mapper-locations: classpath:mapper/*.xml
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka


