<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/js/easyui1.5/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap3/js/bootstrap.js}"></script>
<link rel="stylesheet" th:href="@{/js/bootstrap3/css/bootstrap.css}">

<script th:src="@{/js/bootstrap-bootbox/bootbox.js}"></script>
<script th:src="@{/js/bootbox/bootbox.all.min.js}"></script>
<script th:src="@{/js/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>

<link rel="stylesheet" th:href="@{/js/bootStrap-addTabs/bootstrap.addtabs.css}">
<link rel="stylesheet" th:href="@{/js/bootstrap-treeview/bootstrap-treeview.min.css}">

<script th:src="@{/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<link rel="stylesheet" th:href="@{/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}">
<script th:src="@{/js/bootstrap-table/bootstrap-table.js}"></script>
<link rel="stylesheet" th:href="@{/js/bootstrap-table/bootstrap-table.css}">
<script th:src="@{/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

<div class="form row">
<!--   <form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="register_form">-->
        <h3 class="form-title">Login to your account</h3>
        <div class="col-sm-9 col-md-9">
            <div class="form-group">
                <i class="fa fa-user fa-lg"></i>
                <input class="form-control required" type="text" placeholder="name" id="name" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <i class="fa fa-lock fa-lg"></i>
                <input class="form-control required" type="text" placeholder="loginnumber"  id="loginnumber"/>
            </div>
            <div class="form-group">
                <i class="fa fa-lock fa-lg"></i>
                <input class="form-control required" type="password" placeholder="password" id="password" name="password"/>
            </div>
            <div class="form-group">
                <i class="fa fa-check fa-lg"></i>
                <input class="form-control required" type="password" placeholder="Re-type Your Password" id="password2"/>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success pull-right" onclick="reg()"value="Sign Up "/>

            </div>
        </div>
<!--   </form>-->
</div>


</body>
<script>
    function reg(){
        var name=$("#name").val();
        var loginnumber = $("#loginnumber").val();


        var password = $("#password").val();
        var password2 = $("#password2").val();
        if(password!=password2){
        alert('两次密码不一致');
            return false;
        }
        $.ajax({
            url:'../reg',
            type:'post',
            data:{
                name:name,
                loginnumber:loginnumber,
                password:password
            },
            success:function(data){

                if (!data) {
                    alert("注册失败");
                }else{
                    window.location.href="../page/tologin";
                }
            }
        })
    }

</script>
</html>